
################################################################################################
####################################        COMPLETED        ###################################
################################################################################################




################################################################################################
####################################        REMAINING        ###################################
################################################################################################


1. User should be able to set our company details in the back-end so they are automatically applied to each invoice created.

2. User should be able to choose from different clients which would be selected through a popup.

3. The user needs to be able to make all changes on the screen itself (like Billable.me).

4. Invoices should be available to download as PDF.

5. User should be able to add the company logo (in the back-end).

6. Invoices should automatically update to a new invoice number. The structure of invoices is ‘INVABC012020’. a. ‘INV’ indicates whether it is an invoice (‘INV’) or expense (‘EXP’), b. ‘ABC’ is made up of the first three letters of the client, c. ’01’ indicates the number of the invoice the year, d. ‘2020’ indicates the year the invoice was sent in.

7. Invoices should automatically be saved in an archive that can be accessed through the dropdown in the design.

8. Each invoice needs to show the due date (which should be automatically filled in - but editable - for 15 days from the invoice is dated).

9. User should have the option for each invoice to manually adjust or even turn off the VAT (by unticking the checkbox).

10. User should be able to edit the notes for each invoice, but in the back-end, there should be a way to set the default content for the notes.

11. available currencies € (EUR), $ (USD), £ (GBP), ¥ (YEN), ₹ (INR), Rp (IDR) - dropdown to change currency
