@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Vue Notification Package Custom CSS */
.vue-notification-group {
    width: auto !important;
    min-width: 300px !important;
}
.vue-notification-wrapper .notification-title {
    font-size: 17px !important;
}
.vue-notification-wrapper .notification-content {
    font-size: 15px !important;
}

/* Disabled Button CSS */
button:disabled {
    background-color: #272727 !important;
    cursor: not-allowed !important;
    color: snow !important;
}
